In [1]:
#Creating a phonebook dictionary
#Using Names as keys and phone number as value

Phonebook= {'Desnica Kumar':'0411 111 111',
            'Elahe Jami':'0422 222 222',
            'Rachel McLean':'0433 333 333',
            'Gifty Arora':'0444 444 444',
            'Natalie Ganderton':'0455 555 555',
            'Rajive Islam':'0466 666 666',
            'Brandon Pires':'0477 777 777',
            'Thomas Cahyadi':'0488 888 888',
            'Shel Zaroo':'0499 999 999',
            'John Hawkins':'0410 000 000'}

In [2]:
#Viewing Phonebook keys
Phonebook.keys()

dict_keys(['Desnica Kumar', 'Elahe Jami', 'Rachel McLean', 'Gifty Arora', 'Natalie Ganderton', 'Rajive Islam', 'Brandon Pires', 'Thomas Cahyadi', 'Shel Zaroo', 'John Hawkins'])

In [3]:
#Viewing Phonebook items
Phonebook.items()

dict_items([('Desnica Kumar', '0411 111 111'), ('Elahe Jami', '0422 222 222'), ('Rachel McLean', '0433 333 333'), ('Gifty Arora', '0444 444 444'), ('Natalie Ganderton', '0455 555 555'), ('Rajive Islam', '0466 666 666'), ('Brandon Pires', '0477 777 777'), ('Thomas Cahyadi', '0488 888 888'), ('Shel Zaroo', '0499 999 999'), ('John Hawkins', '0410 000 000')])

In [4]:
#Adding new entry into phonebook
Phonebook.update({'New Person':'0412 345 678'})

#Check...
Phonebook

{'Desnica Kumar': '0411 111 111',
 'Elahe Jami': '0422 222 222',
 'Rachel McLean': '0433 333 333',
 'Gifty Arora': '0444 444 444',
 'Natalie Ganderton': '0455 555 555',
 'Rajive Islam': '0466 666 666',
 'Brandon Pires': '0477 777 777',
 'Thomas Cahyadi': '0488 888 888',
 'Shel Zaroo': '0499 999 999',
 'John Hawkins': '0410 000 000',
 'New Person': '0412 345 678'}

In [5]:
#Looking up phone number of specific person
Phonebook['Desnica Kumar']

'0411 111 111'

In [6]:
#Remove the record of a specific person...will give phone number or removed record
Phonebook.pop('Desnica Kumar')

'0411 111 111'

In [7]:
#Check
Phonebook

{'Elahe Jami': '0422 222 222',
 'Rachel McLean': '0433 333 333',
 'Gifty Arora': '0444 444 444',
 'Natalie Ganderton': '0455 555 555',
 'Rajive Islam': '0466 666 666',
 'Brandon Pires': '0477 777 777',
 'Thomas Cahyadi': '0488 888 888',
 'Shel Zaroo': '0499 999 999',
 'John Hawkins': '0410 000 000',
 'New Person': '0412 345 678'}