In [1]:
5>3

True

In [2]:
5<3

False

In [3]:
2==2

True

In [4]:
2!=5

True

In [5]:
2!=5

True

In [6]:
2!=2

False

In [7]:
test = 'this is a string'

In [8]:
test

'this is a string'

In [9]:
test2 = "this isn't good"
# use double quotes because isn't has a single quote

In [10]:
test2

"this isn't good"

In [11]:
test+test2

"this is a stringthis isn't good"

In [12]:
test+" "+test2

"this is a string this isn't good"

In [13]:
test+1

TypeError: can only concatenate str (not "int") to str

In [14]:
type(test)
#shows test is a string type

str

In [15]:
test_int=256

In [16]:
type(test_int)

int

In [17]:
# ## Data Structures - mixtures of data types 
#List
#Tuples
#Sets
#Dictionaries

In [26]:
# Ordered elements - stores the order 
List_1=[1,2,3,46,98]

In [20]:
List_1

(1, 2, 3, 46, 98)

In [24]:
List_1[0],List_1[4]
#Returns the elements at the index 0 and index 4 in the list
#Python starts with Index0

(1, 98)

In [25]:
len(List_1)

5

In [27]:
List_1.append(45)

In [28]:
List_1

[1, 2, 3, 46, 98, 45]

In [29]:
List_1.insert(2,4)
# Added an element at certain location

In [30]:
List_1

[1, 2, 4, 3, 46, 98, 45]

In [33]:
List_1.pop()
# I popped twice - it removed the last element

98

In [34]:
List_1

[1, 2, 4, 3, 46]

In [35]:
List_1.append(98)

In [36]:
List_1

[1, 2, 4, 3, 46, 98]

In [37]:
List_1.append(45)

In [38]:
List_2=[12,22,356,46,9]

In [39]:
List_3ish = List_1+List_2

In [40]:
List_3ish

[1, 2, 4, 3, 46, 98, 45, 12, 22, 356, 46, 9]

In [42]:
List_1.remove(4)

In [43]:
List_1

[1, 2, 3, 46, 98, 45]

In [44]:
List_3ish.sort()

In [45]:
List_3ish

[1, 2, 3, 4, 9, 12, 22, 45, 46, 46, 98, 356]

In [50]:
tuple_1=(12,4,8,7,4,4)

In [51]:
tuple_1

(12, 4, 8, 7, 4, 4)

In [52]:
tuple_1.count(4)

3

In [53]:
set_1=(1,5,6)

In [54]:
set(set_1)

{1, 5, 6}

In [55]:
set_2=(1,5,6,8,9,9)

In [56]:
set_2

(1, 5, 6, 8, 9, 9)

In [57]:
set(set_2)

{1, 5, 6, 8, 9}

In [59]:
set_3={2,5,6,8,10}

In [62]:
set_2={1,5,6,8,9,9}
set_2.union(set_3)

{1, 2, 5, 6, 8, 9, 10}

In [64]:
set_2.intersection(set_3)
#commonality what is in both sets

{5, 6, 8}

In [65]:
dict_1={'name':"Mark","age":45}

In [66]:
dict_1

{'name': 'Mark', 'age': 45}

In [67]:
dict_1.keys()

dict_keys(['name', 'age'])

In [68]:
dict_1['name']

'Mark'

In [70]:
dict_1['age']

45

In [72]:
dict_1.items()

dict_items([('name', 'Mark'), ('age', 45)])

In [73]:
dict_1.update({'location':'melbourne'})

In [74]:
dict_1

{'name': 'Mark', 'age': 45, 'location': 'melbourne'}